body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: #004225;
  color: white;
  padding-top: 50px;
}

h1 {
  color: gold;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #d4af37;
}

#message-el {
  font-size: 20px;
  margin-top: 20px;
}
